#container {
  width: 100%;
  height: 100%;
  display: flex;
}

#middle {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#graph {
  height: 100%;
  width: 100%;
}

#left {
  width: 55px;
  height: 100%;
  border-right: 5px #e0e3eb solid;
}

#top {
  width: 100%;
  height: 38px;
  border-bottom: 1px #e0e3eb solid;
}

#rigth {
  width: 45px;
  height: 100%;
  border-left: 5px #e0e3eb solid;
}

#bottom {
  width: 100%;
  height: 40px;
  border-top: 5px #e0e3eb solid;
}
