.button-hover:hover {
  background-color: #f0f3fa;
}

.button-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-middle {
  min-width: 35px;
  width: 35px;
  min-height: 35px;
  height: 35px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: default;
}

.button-rigth, .button-left {
  max-width: 100%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: default;
}

.button-rigth .material-icons, .button-left .material-icons {
  visibility: hidden;
  font-size: 10px;
}

.button-rigth:hover .material-icons, .button-left:hover .material-icons {
  visibility: visible;
}
