/* You can add global styles to this file, and also import other style files */

path.candle {
    stroke: #000000;
}

path.candle.body {
    stroke-width: 0;
}

path.candle.up {
    fill: #00AA00;
    stroke: #00AA00;
}

path.candle.down {
    fill: #FF0000;
    stroke: #FF0000;
}

rect.pane {
  cursor: move;
  fill: none;
  pointer-events: all;
}

.crosshair {
  cursor: crosshair;
}

.crosshair path.wire {
  stroke: #DDDDDD;
  stroke-dasharray: 1, 1;
}

.crosshair .axisannotation path {
  fill: #DDDDDD;
}

.axisannotation text {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;;
}

// .x.axisannotation path {
//   fill: #FF0000;  
// }

// .x.axisannotation text {
//   fill: #DDDDDD;  
// }

// .y.axisannotation path {
//   fill: #DDD80E;
// }

.trendline {
  stroke: blue;
  stroke-width: 0.8;
}

.trendline circle {
  stroke-width: 2px;
  // display: none;
}

.dragging .trendline path, .dragging .trendline circle {
  stroke: darkblue;
}

.interaction path, .interaction circle {
  pointer-events: all;
}

.interaction .body {
  cursor: move;
}

.trendlines .interaction .start, .trendlines .interaction .end {
  cursor: nwse-resize;
}

.closeValue.annotation.up path {
  fill: #00AA00;
}

.closeValue.annotation.up path.wire {
  stroke: #DDDDDD;
  stroke-dasharray: 1, 1;
}

.closeValue.annotation.up text {
  fill: #000;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;;
}